In [1]:
import numpy as np
import pandas as pd

# Junho

In [8]:
OD_junho_612 = pd.read_csv('/Users/guilistocco/Documents/TCC 2 - Ônibus/BancoDados/origen-destino/origen-destino-junho_612.csv',
                    index_col= 'Unnamed: 0')

    #  Sao 214k linhas

## Limpeza dos dados

Todos os device_id sao nulos

In [4]:
OD_junho_612.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184 entries, 226 to 206366
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   device_id   0 non-null      float64
 1   timestampI  184 non-null    object
 2   timestampF  184 non-null    object
 3   MAC         184 non-null    object
 4   RSSI        184 non-null    int64
 5   channel     184 non-null    int64
 6   latitudeI   184 non-null    float64
 7   longitudeI  184 non-null    float64
 8   latitudeF   184 non-null    float64
 9   longitudeF  184 non-null    float64
 10  cnt_pckg    184 non-null    int64
 11  id          184 non-null    int64
 12  duration    184 non-null    int64
 13  ts_sort     184 non-null    object
 14  distancias  184 non-null    float64
dtypes: float64(6), int64(5), object(4)
memory usage: 23.0+ KB

In [11]:
OD_junho_612

,device_id,timestampI,timestampF,MAC,latitudeI,longitudeI,latitudeF,longitudeF,cnt_pckg,id,duration,ts_sort,distancias
226,NaN,2021-06-01 07:41:22,2021-06-01 07:47:07,f0:d7:aa:05:66:18,-22.829499,-47.063892,-22.821215,-47.067460,250,196,345,2021-06-01 07:41:22,0.991069
744,NaN,2021-06-01 09:24:22,2021-06-01 09:29:47,86:a7:a2:b5:11:7a,-22.825870,-47.066720,-22.816695,-47.063552,158,249,325,2021-06-01 09:24:22,1.070636
755,NaN,2021-06-01 09:24:51,2021-06-01 09:32:50,08:8c:2c:28:4b:33,-22.825683,-47.066245,-22.813499,-47.061077,123,260,479,2021-06-01 09:24:51,1.454663
849,NaN,2021-06-01 09:30:26,2021-06-01 09:36:24,9a:41:34:1d:af:30,-22.814146,-47.064378,-22.817959,-47.063955,38,354,358,2021-06-01 09:30:26,0.426198
1002,NaN,2021-06-01 11:05:12,2021-06-01 11:11:17,48:49:c7:19:22:fa,-22.816364,-47.072659,-22.824409,-47.064886,99,7,365,2021-06-01 11:05:12,1.197882
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205320,NaN,2021-06-29 13:41:43,2021-06-29 13:44:10,c6:5b:2c:e7:8c:0c,-22.824604,-47.064870,-22.831482,-47.063222,51,242,147,2021-06-29 13:41:43,0.783227
205350,NaN,2021-06-29 13:42:17,2021-06-29 13:45:11,aa:24:eb:bd:4e:40,-22.825205,-47.066226,-22.829520,-47.061736,110,272,174,2021-06-29 13:42:17,0.664804
205369,NaN,2021-06-29 13:42:39,2021-06-29 13:44:39,f0:d7:aa:e8:4a:c1,-22.825675,-47.066901,-22.831256,-47.062334,48,291,120,2021-06-29 13:42:39,0.777297
205596,NaN,2021-06-29 13:51:09,2021-06-29 13:52:14,88:b4:a6:a5:a0:2a,-22.820951,-47.066944,-22.818299,-47.063786,79,518,65,2021-06-29 13:51:09,0.437860
206366,NaN,2021-06-29 15:26:36,2021-06-29 15:41:21,bc:ff:eb:5f:37:ce,-22.813888,-47.068874,-22.821337,-47.067848,34,138,885,2021-06-29 15:26:36,0.834941

In [9]:
OD_junho_612.columns

Index(['device_id', 'timestampI', 'timestampF', 'MAC', 'RSSI', 'channel',
       'latitudeI', 'longitudeI', 'latitudeF', 'longitudeF', 'cnt_pckg', 'id',
       'duration', 'ts_sort', 'distancias'],
      dtype='object')

In [10]:
OD_junho_612 = OD_junho_612[['device_id', 'timestampI', 'timestampF', 'MAC',
       'latitudeI', 'longitudeI', 'latitudeF', 'longitudeF', 'cnt_pckg', 'id',
       'duration', 'ts_sort', 'distancias']]

In [15]:
OD_junho_612.id.value_counts().sort_index()

0      3
1      2
2      1
3      3
4      4
      ..
462    1
463    1
487    1
518    1
582    1
Name: id, Length: 128, dtype: int64